App_WebReferences/TemplateCode/TemplateAPI77.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TemplateServerCore" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TemplateServerCore" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://templatedev.taradel.com/TemplateAPI.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" />
  <xs:complexType name="Template">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q1:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="BackImage" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BusinessLines" nillable="true" type="tns:ArrayOfBusinessLine" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FrontImage" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="InsideImage" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PageSize" nillable="true" type="tns:PageSize" />
          <xs:element minOccurs="0" name="PageSizeId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="PageSizeReference" nillable="true" type="q1:EntityReferenceOfPageSizeTCxkIY9V" />
          <xs:element minOccurs="0" name="STFoldType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="STPageSize" nillable="true" type="tns:STPageSize" />
          <xs:element minOccurs="0" name="STPageSizeId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="STPageSizeReference" nillable="true" type="q1:EntityReferenceOfSTPageSizeTCxkIY9V" />
          <xs:element minOccurs="0" name="STProduct" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="STShortId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Summary" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Tags" nillable="true" type="tns:ArrayOfTag" />
          <xs:element minOccurs="0" name="TemplateId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Template" nillable="true" type="tns:Template" />
  <xs:complexType name="ArrayOfBusinessLine">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BusinessLine" nillable="true" type="tns:BusinessLine" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBusinessLine" nillable="true" type="tns:ArrayOfBusinessLine" />
  <xs:complexType name="BusinessLine">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q2:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="BusinessLineId" type="xs:int" />
          <xs:element minOccurs="0" name="Industry" nillable="true" type="tns:Industry" />
          <xs:element minOccurs="0" name="IndustryId" type="xs:int" />
          <xs:element minOccurs="0" name="IndustryReference" nillable="true" type="q2:EntityReferenceOfIndustryTCxkIY9V" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Templates" nillable="true" type="tns:ArrayOfTemplate" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BusinessLine" nillable="true" type="tns:BusinessLine" />
  <xs:complexType name="Industry">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q3:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="BusinessLines" nillable="true" type="tns:ArrayOfBusinessLine" />
          <xs:element minOccurs="0" name="IndustryId" type="xs:int" />
          <xs:element minOccurs="0" name="IndustrySites" nillable="true" type="tns:ArrayOfIndustrySite" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Industry" nillable="true" type="tns:Industry" />
  <xs:complexType name="ArrayOfIndustrySite">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="IndustrySite" nillable="true" type="tns:IndustrySite" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfIndustrySite" nillable="true" type="tns:ArrayOfIndustrySite" />
  <xs:complexType name="IndustrySite">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q4:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Industry" nillable="true" type="tns:Industry" />
          <xs:element minOccurs="0" name="IndustryId" type="xs:int" />
          <xs:element minOccurs="0" name="IndustryReference" nillable="true" type="q4:EntityReferenceOfIndustryTCxkIY9V" />
          <xs:element minOccurs="0" name="IndustrySiteId" type="xs:int" />
          <xs:element minOccurs="0" name="SiteId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="IndustrySite" nillable="true" type="tns:IndustrySite" />
  <xs:complexType name="ArrayOfTemplate">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Template" nillable="true" type="tns:Template" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTemplate" nillable="true" type="tns:ArrayOfTemplate" />
  <xs:complexType name="PageSize">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q5:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PageSizeId" type="xs:int" />
          <xs:element minOccurs="0" name="Templates" nillable="true" type="tns:ArrayOfTemplate" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PageSize" nillable="true" type="tns:PageSize" />
  <xs:complexType name="STPageSize">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q6="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q6:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="STPageSizeId" type="xs:int" />
          <xs:element minOccurs="0" name="Templates" nillable="true" type="tns:ArrayOfTemplate" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="STPageSize" nillable="true" type="tns:STPageSize" />
  <xs:complexType name="ArrayOfTag">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Tag" nillable="true" type="tns:Tag" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTag" nillable="true" type="tns:ArrayOfTag" />
  <xs:complexType name="Tag">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q7="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q7:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TagId" type="xs:int" />
          <xs:element minOccurs="0" name="Templates" nillable="true" type="tns:ArrayOfTemplate" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Tag" nillable="true" type="tns:Tag" />
</xs:schema>