App_WebReferences/TemplateCode/TemplateAPI7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TemplateServerCore.API" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TemplateServerCore.API" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://templatedev.taradel.com/TemplateAPI.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/TemplateServerCore" />
  <xs:complexType name="ArrayOfIndustry">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Industry" nillable="true" type="tns:Industry" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfIndustry" nillable="true" type="tns:ArrayOfIndustry" />
  <xs:complexType name="Industry">
    <xs:sequence>
      <xs:element minOccurs="0" name="BusinessLines" nillable="true" type="tns:ArrayOfBusinessLine" />
      <xs:element minOccurs="0" name="IndustryId" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Industry" nillable="true" type="tns:Industry" />
  <xs:complexType name="ArrayOfBusinessLine">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BusinessLine" nillable="true" type="tns:BusinessLine" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBusinessLine" nillable="true" type="tns:ArrayOfBusinessLine" />
  <xs:complexType name="BusinessLine">
    <xs:sequence>
      <xs:element minOccurs="0" name="BusinessLineId" type="xs:int" />
      <xs:element minOccurs="0" name="IndustryId" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BusinessLine" nillable="true" type="tns:BusinessLine" />
  <xs:complexType name="ArrayOfTemplateSize">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TemplateSize" nillable="true" type="tns:TemplateSize" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTemplateSize" nillable="true" type="tns:ArrayOfTemplateSize" />
  <xs:complexType name="TemplateSize">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TemplateSizeId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TemplateSize" nillable="true" type="tns:TemplateSize" />
  <xs:complexType name="Template">
    <xs:sequence>
      <xs:element minOccurs="0" name="BackImage" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TemplateServerCore" minOccurs="0" name="BusinessLine" nillable="true" type="q1:BusinessLine" />
      <xs:element minOccurs="0" name="BusinessLineId" type="xs:int" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FoldType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FrontImage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InsideImage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PageSize" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Summary" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TemplateId" type="xs:int" />
      <xs:element minOccurs="0" name="TemplateSizeId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Template" nillable="true" type="tns:Template" />
  <xs:complexType name="TemplateList">
    <xs:sequence>
      <xs:element minOccurs="0" name="CurrentPage" type="xs:int" />
      <xs:element minOccurs="0" name="PageSize" type="xs:int" />
      <xs:element minOccurs="0" name="Templates" nillable="true" type="tns:ArrayOfTemplate" />
      <xs:element minOccurs="0" name="TotalPages" type="xs:int" />
      <xs:element minOccurs="0" name="TotalRecords" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TemplateList" nillable="true" type="tns:TemplateList" />
  <xs:complexType name="ArrayOfTemplate">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Template" nillable="true" type="tns:Template" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTemplate" nillable="true" type="tns:ArrayOfTemplate" />
</xs:schema>