App_WebReferences/appxSitemapWebService/appxSitemapWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GenerateSitemap">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SiteId" type="xs:int" />
        <xs:element minOccurs="0" name="sNotify" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateSitemapResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>