App_WebReferences/MapServer/UserData/UserData32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Taradel.MapServer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Taradel.MapServer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAreaSelection">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AreaSelection" nillable="true" type="tns:AreaSelection" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAreaSelection" nillable="true" type="tns:ArrayOfAreaSelection" />
  <xs:complexType name="AreaSelection">
    <xs:sequence>
      <xs:element minOccurs="0" name="Business" type="xs:int" />
      <xs:element minOccurs="0" name="FriendlyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Notes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="POBoxes" type="xs:int" />
      <xs:element minOccurs="0" name="Residential" type="xs:int" />
      <xs:element minOccurs="0" name="Total" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AreaSelection" nillable="true" type="tns:AreaSelection" />
  <xs:complexType name="SelectionSummary">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReferenceId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartZipCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Total" type="xs:int" />
      <xs:element minOccurs="0" name="UseBusiness" type="xs:boolean" />
      <xs:element minOccurs="0" name="UsePOBox" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SelectionSummary" nillable="true" type="tns:SelectionSummary" />
</xs:schema>