App_WebReferences/TemplateScripts/JSONTemplateAPI.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="/Imports">
      <xsd:import schemaLocation="http://templateserver.taradel.com/JSONTemplateAPI.svc?xsd=xsd0" />
      <xsd:import schemaLocation="http://templateserver.taradel.com/JSONTemplateAPI.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://templateserver.taradel.com/JSONTemplateAPI.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="JSONTemplateAPI_GetIndustries_InputMessage">
    <wsdl:part name="parameters" element="GetIndustries" />
  </wsdl:message>
  <wsdl:message name="JSONTemplateAPI_GetIndustries_OutputMessage">
    <wsdl:part name="parameters" element="GetIndustriesResponse" />
  </wsdl:message>
  <wsdl:message name="JSONTemplateAPI_GetBusinessLines_InputMessage">
    <wsdl:part name="parameters" element="GetBusinessLines" />
  </wsdl:message>
  <wsdl:message name="JSONTemplateAPI_GetBusinessLines_OutputMessage">
    <wsdl:part name="parameters" element="GetBusinessLinesResponse" />
  </wsdl:message>
  <wsdl:message name="JSONTemplateAPI_GetTemplate_InputMessage">
    <wsdl:part name="parameters" element="GetTemplate" />
  </wsdl:message>
  <wsdl:message name="JSONTemplateAPI_GetTemplate_OutputMessage">
    <wsdl:part name="parameters" element="GetTemplateResponse" />
  </wsdl:message>
  <wsdl:message name="JSONTemplateAPI_GetIndustryTemplates_InputMessage">
    <wsdl:part name="parameters" element="GetIndustryTemplates" />
  </wsdl:message>
  <wsdl:message name="JSONTemplateAPI_GetIndustryTemplates_OutputMessage">
    <wsdl:part name="parameters" element="GetIndustryTemplatesResponse" />
  </wsdl:message>
  <wsdl:portType name="JSONTemplateAPI">
    <wsdl:operation name="GetIndustries">
      <wsdl:input wsaw:Action="urn:JSONTemplateAPI/GetIndustries" message="JSONTemplateAPI_GetIndustries_InputMessage" />
      <wsdl:output wsaw:Action="urn:JSONTemplateAPI/GetIndustriesResponse" message="JSONTemplateAPI_GetIndustries_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBusinessLines">
      <wsdl:input wsaw:Action="urn:JSONTemplateAPI/GetBusinessLines" message="JSONTemplateAPI_GetBusinessLines_InputMessage" />
      <wsdl:output wsaw:Action="urn:JSONTemplateAPI/GetBusinessLinesResponse" message="JSONTemplateAPI_GetBusinessLines_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTemplate">
      <wsdl:input wsaw:Action="urn:JSONTemplateAPI/GetTemplate" message="JSONTemplateAPI_GetTemplate_InputMessage" />
      <wsdl:output wsaw:Action="urn:JSONTemplateAPI/GetTemplateResponse" message="JSONTemplateAPI_GetTemplate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetIndustryTemplates">
      <wsdl:input wsaw:Action="urn:JSONTemplateAPI/GetIndustryTemplates" message="JSONTemplateAPI_GetIndustryTemplates_InputMessage" />
      <wsdl:output wsaw:Action="urn:JSONTemplateAPI/GetIndustryTemplatesResponse" message="JSONTemplateAPI_GetIndustryTemplates_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>